<template>
    <div class="statistics">
        <ul v-if="statistics.length > 0">
            <li v-for="statistic in statistics">{{ statistic.word + ": " + pluralize(statistic.times_mentioned) }}</li>
        </ul>
        <p v-else>No statistics from server.</p>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                statistics: []
            }
        },

        created() {
            window.axios.get(window.ajaxUrl + '/rss')
                .then(response => {
                    console.log(response.data.statistics)
                    this.statistics = response.data.statistics
                })
        },

        methods: {
            pluralize(number) {
                return number === 1 ? number + ' time' : number + ' times'
            }
        }
    }
</script>

<style scoped>

</style>