<template>
    <div class="container">
        <ul v-if="this.feedItems.length">
            <article v-for="item in feedItems">
                <a :href="item.url || '#'">
                    <li v-text="item.title"></li>
                </a>
                <p class="text-secondary" v-if="item.summary.length" v-text="item.summary"></p>
            </article>
        </ul>
        <span v-else>Seems like there a no news for now.</span>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        data() {
            return {
                feedItems: []
            }
        },

        async created() {
            this.connectEcho()

            try {
                this.getFeedItems()
            } catch (e) {
                console.error(e)
            }
        },

        methods: {
            connectEcho() {
                this.$root.echo
                    .channel('feed')
                    .listen('.App\\Events\\RssFeedUpdated', () => {
                        this.getFeedItems()
                        this.notifyForUpdates()
                    })
            },

            async getFeedItems() {
                const response = await axios.get(window.ajaxUrl + '/rss')
                this.feedItems = response.data.data
            },

            notifyForUpdates() {
                if (! 'Notification' in window) {
                    console.log('Browser notifications are unsupported.')

                    return
                }

                Notification.requestPermission(permission => {
                    (new Notification('Feed has new updates!', {
                        body: 'Click to see new updates.'
                    }).onclick = () => {
                        window.open(window.location.href)
                    })
                })
            }
        }
    }
</script>
